body {
    margin: 0;
}

* {
    font-family: 'Futura';
}
nav {
    background-color: #084AC5;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    box-shadow: 0 0 10px 0 gray;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-lista {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-elementos a{
    color: #FFED45;
    padding: 10px;
}

.nav-elementos a:hover{
    background-color:#fefde810;
    border-radius: 5px;
}

#nav-logo {
    width: 5%;
}

#nav-exit {
    width: 30px;
    height: 30px;
    background-color: #FFED45;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-exit a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#exit-foto {
    width: 80%;
}

.main-status {
    padding: 30px;
}

h1,h2,h3 {
    margin: 0;
}

h2 {
    font-weight: 100;
    font-size: 1.2rem;
    color: gray;
}

.historial {
    box-shadow: 0 0 10px 0 gainsboro;
    border-radius: 10px;
    padding: 20px;
    width: 300px;   
    height: 55vh;
    margin-top: 30px;
}

th {
    width: 50px;
}

td {
    text-align: center;
    color: grey;
}

h3 {
    text-align: start;
    width: 250px;
    color: black;
    margin-bottom: 20px;
}
