body {
    margin: 0 auto;
    background-color: #002e7a;
}

#controlador {
    background-color: #252525;
    width: 30%;
    height: 10%;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: 'Futura';
}

#cohete {
    position: absolute;
    background-color: gray;
    width: 5vw;
    height: 20vh;
}

#piso {
    background-color: #fff7ed;
    height: 20vh;
    width: 100vw;
    transform: translateY(80vh);
    box-sizing: content-box;
}