* {
	margin: 0 auto;
}

.barra {
	background-color: #d19200;
	padding: 10px;
	height: 5vh;
 	display: flex;
 	align-items: center;
  	box-shadow: 0 0 10px 0 #252525;
}

.lista {
	display: flex;
}

.elemento {
	list-style: None;
	display: inline-block;
	padding: 20px;
}

h1 {
	font-family: 'Futura';
	color: #fff;
}
	

a {
	text-decoration: None;
	color: #fff;
	font-family: 'Futura';
	font-weight: bold;
	transition: all 0.3s;
}

a:hover {
	color: #252525;
}