body {
	margin: 0;
}

main {
	width: 200%;
	height: 100%;
	background-image: url('https://crdms.images.consumerreports.org/c_lfill,w_470,q_auto,f_auto/prod/cars/cr/model-years/18195-2024-tesla-cybertruck');
}