
#caja {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    background-color:#202020;
    display: flex;
    justify-content: center;
    align-items: center;
    /* RotateX lo mueve decayendo */
    /* RotateY lo mueve de lado */
    /* RotateZ lo rota */

    transform:perspective(100px);

    /*transform: rotateZ(70deg);*/

    /* Transform origin cambia el punto de apoyo de donde rota */

    /*transform-origin: bottom right;*/

}

#caja-2 {
    border-radius: 20px;
    width: 100px;
    height: 100px;
    background-color:lightcoral;
    transform: rotateZ(90deg);
    perspective: 300px;
}