
#caja {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    background-color:#202020;
    /* RotateX lo mueve decayendo */
    /* RotateY lo mueve de lado */
    /* RotateZ lo rota */
    transform: rotateZ(50deg)
}