@import url("https://use.typekit.net/sbe7rmv.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: "Poppins";
    list-style: none;
}

body {
    overflow-x: hidden;
}

nav {
    color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 15vh;
    transition: all 1s;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

h1, .main-description {
    cursor: pointer;
    color: white;
}

.main-description {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#nav-logo {
    height: 100%;
    cursor: pointer;
    transition: all 1s;
}

.nav-link {
    color: white;
    padding: 10px;
    display: flex;
    text-decoration: none;
    transition: all 1s;
}

.nav-link:hover {
    padding: 10px 20px;
    border-bottom: 15px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

main {
    background-image: url('../resources/space-background.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    animation: move-back infinite 200s;
}

@keyframes move-back {
    from {
        background-position-x: left;
    }
    to {
        background-position-x: right;
    }
}

h1 {
    font-size: 4rem;
}

h1::after {   
    animation: writting 5s ease;
    content: "Cesar Dominguez";
}

@keyframes writting {
    0% {content: ""}
    8% {content: "C"}
    16% {content: "Ce"}
    24% {content: "Ces"}
    32% {content: "Cesa"}
    40% {content: "Cesar"}
    48% {content: "Cesar D"}
    56% {content: "Cesar Do"}
    64% {content: "Cesar Domi"}
    72% {content: "Cesar Domin"}
    80% {content: "Cesar Doming"}
    86% {content: "Cesar Domingu"}
    94% {content: "Cesar Domingue"}
    100% {content: "Cesar Dominguez"}
}

.about {
    color: black;
    height: 100vh;
}

.nav-change img {
    filter:invert()
}

.nav-change ul li a {
    color: black;
}

.nav-change ul li a:hover {
    border-color: black;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
}

.about-know {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 30%;
    width: 35%;
    gap: 10px;
}

.about-icons {
    cursor: pointer;
    width: 7vw;
    transition: all 0.5s;
}

.about-icons:hover {
    transform: scale(0.9);
}

@media screen and (max-width: 900px) {
    nav {
        display: block;
        margin-top: 5%;
        justify-content: center;
    }

    #nav-logo {
        display: none;
    }

    .about {
        flex-direction: column;
    }

    .about-content {
        width: 80%;
        text-align: center;
    }

    .about-know {
        width: 80%;
    }

    .about-icons {
        width: 20vw;
    }
}