@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-image: url(resources/light.png);
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#title {
    font-family: 'Philosopher', sans-serif;
    font-weight: bolder;
    font-size: 3em;
}

#user:hover::after {
    content: 'username';
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#enviar {
    color: white;
}

#desc:focus {
    border: 2px solid #59A7FF;
}

ul li div {
    display: flex;
    flex-direction: column;
}

/*
TAILWIND TO CSS
*/

/* main */
main {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }
  
  /* header */
  header {
    display: flex;
    width: 75%;
    gap: 0.75rem;
  }
  
  #title {
    background-color: white;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
  }
  
  #title:hover {
    width: 8rem;
  }
  
  #user {
    background-color: white;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
  }
  
  #user:hover {
    width: 9rem;
  }
  
  #user-img {
    background-color: #ccc;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
  
  /* aside */
  aside {
    background-color: white;
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  }
  
  aside h2 {
    font-weight: bold;
  }
  
  aside img {
    width: 20%;
  }
  
  /* form */
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }
  
  label {
    font-size: 0.875rem;
  }
  
  textarea {
    width: 80%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    outline: none;
    resize: none;
    transition: all 0.3s ease-in-out;
  }
  
  select {
    width: 80%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    outline: none;
    appearance: none;
  }
  
  input[type="file"] {
    width: 80%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    outline: none;
  }
  
  input[type="button"] {
    width: 80%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  input[type="button"]:hover {
    background-color: #2ecc71;
  }
  
  /* nav */
  nav {
    height: 3rem;
    width: 92%;
    display: flex;
    justify-content: space-between;
  }
  
  #search-box {
    display: flex;
    justify-content: space-around;
    height: 100%;
    background-color: white;
    width: 50%;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  }
  
  #search {
    background-color: transparent;
    outline: none;
    width: 80%;
    padding: 0.5rem;
  }
  
  #search-box img {
    height: 100%;
  }
  
  /* ul */
  #documentos {
    overflow-y: auto;
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
    height: 75%;
  }
