main {
    background-color:#c799ff;
    background-image:
    radial-gradient(at 94% 31%, hsla(152,98%,67%,1) 0px, transparent 50%),
    radial-gradient(at 68% 74%, hsla(220,87%,77%,1) 0px, transparent 50%),
    radial-gradient(at 10% 84%, hsla(155,93%,74%,1) 0px, transparent 50%),
    radial-gradient(at 98% 32%, hsla(129,89%,60%,1) 0px, transparent 50%),
    radial-gradient(at 96% 7%, hsla(264,74%,61%,1) 0px, transparent 50%),
    radial-gradient(at 50% 58%, hsla(262,92%,69%,1) 0px, transparent 50%),
    radial-gradient(at 91% 54%, hsla(82,63%,64%,1) 0px, transparent 50%);
}

#chat {
    box-shadow: 0 0 10px 0 #fff;
}