main {
  border-left:4px solid rgb(96, 165, 250) ;
  border-right: 4px solid rgb(96, 165, 250);
}

body {
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  main {
    border-left: none;
    border-right: none;
    width: 100%;
  }
  
}