main {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
}

main div {
    height: 50%;
    width: 70%;
    padding: 2em;
    font-weight: bold;
    font-size: 2em;
    box-shadow: -4px -4px 10px 0px #ffffff50, 4px 4px 10px 0px #25252520;
}

li:hover {
    flex: 2;
}