.about {
    padding: 60px;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("resources/ipad-pro-mockup.png");
    height: 80vh;
    animation: entrada 1.5s ease-in-out;
    background-size: 200%;
}

@keyframes entrada {
    from {
        background-size: 100%;
    }
    to {
        background-size: 200%;
    }
}

#main-lan {
    display: flex;
    justify-content: end;
    font-size: 2em;
}

.langs {
    display: flex;
    justify-content: end;
}

.langs-img {
    width: 10%;
    height: 10%;
}