@font-face {
    font-family: 'JetBrains-Bold';
    src: url('resources/JetBrainsMono-Bold.ttf');

}
@font-face {
    font-family: 'JetBrains-Light';
    src: url('resources/JetBrainsMono-Light.ttf');

}

* {
    color: #252525;
    font-family:'JetBrains-Bold';
    margin: 0;
}

body {
    margin: 0;
    color: #252525;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    box-shadow: 0 0 10px 0 #d1d1d1;
    height: 20vh;
    position: relative;
    z-index: 999;
}

a {
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-element {
    padding-right: 20px;
}

#logo {
    width: 10%;
}

.presentation {
    padding: 40px;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url('resources/ipad-pro-mockup.png');
    background-position-x:10%;
    height: 80vh;
    
}

#name {
    font-size: 4em;
    margin-top: 20vh;
}

#dev {
    font-size: 2em;
    color: #888888;
}
