.about {
    padding: 60px;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("resources/ipad-pro-mockup.png");
    height: 80vh;
    animation: entrada 1.5s ease-in-out;
    background-size: 200%;
}

@font-face {
    font-family: 'JetBrains-Light';
    src: url('resources/JetBrainsMono-Light.ttf');
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    overflow-y:hidden;
}

@keyframes entrada {
    from {
        background-size: 100%;
    }
    to {
        background-size: 200%;
    }
}

.main-knowledge, .main-bio, .contact {
    animation: aparecer 3s ease-in-out;
}

#main-lan {
    display: flex;
    justify-content: end;
    font-size: 2em;
}

.langs {
    display: flex;
    justify-content: end;
}

.langs-img {
    width: 10%;
    height: 10%;
}
#main-par {
    font-family: 'JetBrains-Light';
    font-size: 1.5em;
    text-align: end;
}

.contact {
    align-items: end;
}

.main-contact {
    font-family: 'JetBrains-Light';
    text-align: end;
}